<h1><%= "Editing #{@article.title}" %></h1>
<% provide(:button_text, 'Update Article') %>
<div class="row">
   <div class="col-md-10 col-md-push-1">
		<%= render "articleform" %>
   </div>
</div>