<%= form_for(@comment) do |f| %>
       <div class="field">
        <%= f.text_area :content, placeholder: "Compose new comment..." %>
        <%= f.hidden_field :article_id, :value => @article.id%>
      </div>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>



   