 <div class="row">
         <div class="col-md-12">
			<%= form_for(@comment) do |f| %>
			       <div class="field">
			        <%= f.text_area :content, placeholder: "Add new comment..." %>
			        <%= f.hidden_field :article_id, :value => @article.id%>
			      </div>
			  <div class="col-md-3 col-md-push-9">
			      <%= f.submit "Post", class: "btn btn-primary" %>
			  </div>
			    <% end %>
		</div>
</div>



   