<h1>All Classes</h1>
<ul class="users">
  <% @exerciseclasses.each do |exclass| %>
    <li>
      
      <%= link_to exclass.name, exclass %>
    </li>
  <% end %>
</ul>
<% if current_user.trainer? %>
<%= button_to "New Class", new_exercise_class_path, method: :get, class: "btn btn-primary" %>
<%end%>