<footer class="footer">
      <small>
        <a href="https://www.wit.ie/">Web Server Assignment Programming</a>
        by <a href="https://github.com/Dan84/">Daniel Kehoe</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
         
        </ul>
      </nav>
    </footer>